body {
    background-color: var(--bg-color);
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 24px;
    color: var(--text-color);
    text-align: center;
    gap: 16px;
}

.about__label {
    font-size: 1.25rem;
}

.about__title {
    font-size: 2.25rem;
}

.about__description {
    max-width: 650px;
    line-height: 1.6;
    font-size: 1.25rem;
}

.about-approach {
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
}

.about-approach__content {
    position: relative;
    background-color: var(--secondary-bg);
    width: 65%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--text-color);
    box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.25);
}

.about-approach__label {
    font-size: 1.15rem;
}

.about-approach__title {
    font-size: 2rem;
    width: 80%;
}

.about-approach__description {
    width: 75%;
    line-height: 1.5;
    font-size: 1.25rem;
}

.about-approach__img {
    width: 320px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 10px;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 915px) {
    .about-approach__content {
        width: 100%;
    }

    .about-approach__img {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 20px;
    }
}